venv
expense_tracker/expense_tracker/settings.py
expense_tracker/expense_tracker/__pycache__/
expense_tracker/users/__pycache__/
expense_tracker/expense_tracker/__pycache__/settings.cpython-310.pyc
expense_tracker/__pycache__/urls.cpython-310.pyc
 users/__pycache__/apps.cpython-310.pyc
.DS_Store
expense_tracker/expense_tracker/__pycache__/settings.cpython-310.pyc
expense_tracker/expenses/__pycache__/views.cpython-310.pyc
