{% extends "users/base.html" %}
{% block content %}
<section id="content">
    <div class="container-fluid mt-5 mb-5">
        <h1 class="text-center about">About</h1>
        <uL>
        <li>A currency agnostic Expense tracker with filters and pre built categories</li>
        <li>Created for our Cloud project using django and utilising apis such as the <a
                href="https://www.exchangerate-api.com/">Exchange rate api</a></li>
        <li>Easily filter expenses based on category and dates</li>
        <li>Graphical visulaisation of expenses using plotly,which can be easily downloaded</li>
        
        </uL>

    </div>
</section>
{% endblock content %}