{% extends "users/base.html" %}
{% block content %}
<section id="content">
    <div class="container-fluid">
        <h1 class="text-center about">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum reiciendis id a libero fugit hic! Neque
            repellendus itaque, mollitia quisquam error ipsum enim laboriosam! Accusantium quasi impedit excepturi earum
            voluptatum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis nemo fuga nulla facere, rerum laborum
            doloremque sequi laboriosam, quasi eius provident veritatis omnis officiis nesciunt aut pariatur, quo
            nostrum.
            Voluptates totam quasi adipisci non culpa sit odit quam atque quo fuga libero commodi eligendi, accusantium
            provident laudantium excepturi, magnam fugiat accusamus vitae pariatur? Possimus natus sequi perspiciatis
            asperiores minus.</p>

    </div>
</section>
{% endblock content %}